

<!-- 
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Macy &amp; Mitch PhotoKit</h1>
        </ion-header-bar>
        
        <ion-content>
			<p>&nbsp;</p>
        	<a ui-sref="camera" class="button button-block button-positive">Go to Camera</a>
			

			<img src="assets/images/ionic.png" alt="">

        </ion-content>
    </ion-pane>  -->

    <ion-view>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Dashboard</h1>
            <div class="buttons">
                <a class="button" ui-sref="products">Products</a>
            </div>
        </ion-header-bar>
        <ion-content>
            
            <div class="padding">
                <button class="button button-block button-positive" ng-click="updateData()">Update Data</button>
            </div>
        
        </ion-content>
    </ion-view>
